/**********************
      breadcrumb
**********************/
#breadcrumb a {
  text-decoration: none;
  color: #ffc000;
}

#product-container {
  overflow: hidden;
}

/**********************
    address-cards
**********************/
#address-cards .icon-wrapper {
  width: 80px;
  height: 80px;
  border: 1px dashed gray;
  transition: border-style 1s linear;
}

#address-cards .col-12:hover .icon-wrapper {
  border-style: solid;
}

/**********************
      questions
**********************/
#questions .wrapper {
  max-width: 1000px;
}

#questions button[type="submit"] {
  letter-spacing: 2px;
}